/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
    width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.outer-wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.inner-wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h6 {
    font-size: 24px;
    color: #F9FAF8;
}

.links p {
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer, .section-1 {
    background-color: #1F2937;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title-name {
    margin: 20px 20px;
    width: 150px;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 25px 25px;
    position: fixed;
    right: 25px;
}

a {
    padding-right: 25px;
}

.section-1 {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.section-1 h1 {
    color: #f9faf8;
    font-size: 44px;
    font-weight: 800;
}

.section-1

.title-text {
    width: 300px;
}

.title-image {
    width: 200px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
}