/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	overflow-x: hidden;
    width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.outer-wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.inner-wrap {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h6 {
    font-size: 24px;
    color: #F9FAF8;
}

.links p {
    font-size: 18px;
    color: #E5E7EB;
}

.header, .footer, .section-1 {
    background-color: #131922;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.title-name {
    margin: 20px 20px;
    width: 470px;
}

.links {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
}

.links p {
    color: #cacaca;
}

.links p:hover {
    color: #3882f6;
    text-decoration: none;
}

a {
    padding-right: 25px;
    text-decoration: none;
}

.section-1 {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.section-1 h1 {
    color: #f9faf8;
    font-size: 44px;
    font-weight: 800;
}

.title-text p {
    font-size: 15px;
    font-weight: 400;
    color: #b1b1b1;
    padding-top: 15px;
}

.title-text {
    width: 400px;
    margin-right: 100px;
    margin-left: 25px;
}

.sign-up-button {
    width: 90px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    padding-left: 25px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2); 
	box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2);
}

.sign-up-button a {
    font-weight: 600;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 100%;
}

.title-image {
    width: 360px;
    height: 200px;
    background-color: rgb(119, 129, 156);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    -webkit-box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2); 
	box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2);
    margin-right: 25px
}

.section-2 {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-2 h2 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 75px;
}

.box-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.box-1, .box-2, .box-3, .box-4 {
    height: 150px;
    width: 150px;
    border-width: 4px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 25px;
    background-color: white;
    margin: 0 35px;
}

.box-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 75px;
}

.box-text p {
    color: #696969;
    text-align: center;
    width: 140px;
    font-size: 14px;
}

.section-3 {
    height: 300px;
    background-color: #e0e0e0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 h3 {
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    line-height: 1.4;
}

.quote-box h4 {
    text-align: right;
}

.sign-up-area {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sign-up-area .sign-up-button {
    margin-left: 100px;
    border-width: 4px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
}
.sign-up-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    height: 160px;
    width: 1000px;
    border-radius: 25px;
}

.sign-up-text h5 {
    color: white;
}

.sign-up-text p {
    color: #e7e7e7;
    font-weight: 400;
    padding-top: 3px;
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    font-weight: 400;
    font-size: 11px;
}